SetEnvIf Request_URI ".*" Ngx_Cache_NoCacheMode=off
SetEnvIf Request_URI ".*" Ngx_Cache_AllCacheMode
SetEnvIf Request_URI ".*" AllowRestApi
RewriteEngine On
RewriteBase /
# httpsに転送 & wwwなしに
RewriteCond %{HTTPS} off [NC,OR]
RewriteCond %{HTTP_HOST} ^www.ratio100\.com
RewriteRule ^(.*)$ https://ratio100.com/$1 [R=301,L]
# video/channel ID4桁リダイレクト
RewriteRule video\/....$ https://ratio100.com/youtube/video [R=301,L]
RewriteRule channel\/....$ https://ratio100.com/youtube/channel [R=301,L]
# search console 参考のリダイレクト
RewriteRule ^{}$ https://ratio100.com [R=301,L]
# カテゴリ別ランキング リライト
RewriteRule ^(jp|us|gb)\/.*\/(movie-anime|car-bike-train|music|pets-animals|sports|game|blog|comedy|entame|news-politics|howto-style|science-tech)$ https://ratio100.com/youtube/trending/$2?rc=$1 [L]
# xmlrpc.phpへのアクセス無効化
<Files xmlrpc.php>
Order Allow,Deny
Deny from all
</Files>
# BEGIN WordPress
# "BEGIN WordPress" から "END WordPress" までのディレクティブ (行) は
# 動的に生成され、WordPress フィルターによってのみ修正が可能です。
# これらのマーカー間にあるディレクティブへのいかなる変更も上書きされてしまいます。
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress
RewriteEngine On
RewriteBase /
# 末尾スラッシュなしに
RewriteRule ^(.*)/+$ $1 [R=301,L]
# no-cache
RewriteRule .* - [E=Cache-Control:no-cache]