:root {
  --c1: #eee;
  --c2: #333;
  --c3: #aaa;
  --c4: #666;
  --c5: #f09;
  --c6: #c09;
  --c7: #906;
  --c8: #ffc;
  --c9: #fc0;
  --c10: #f90;

  --f1: 14px;
}
.c1 {background: linear-gradient(-15deg, #3cf, #309)}
.c2 {background: linear-gradient(-15deg, #fc0, #960)}
.c3 {background: linear-gradient(-15deg, #f3c, #606)}
.c4 {background: linear-gradient(-15deg, #0c6, #360)}
.c0 {background: linear-gradient(-15deg, #f96, #c30)}
.t1 {color: #309}
.t2 {color: #960}
.t3 {color: #606}
.t4 {color: #360}
.t0 {color: #c30}
body {
  width: 100vw;
  background-color: var(--c1);
  margin: 0;
  color: var(--c2);
  font-size: var(--f1);
}
section {
  width: 100%;
  max-width: 420px;
  min-width: 300px;
  margin: 20px;
}
span {
  height: 100%;
  border-style: solid;
  border-color: var(--c3);
  border-width: 0 0 1px;
  box-sizing: border-box;
}
h3, h4, h5, h6 {
  margin: 0;
}
a { color: var(--c5) }
a:visited { color: var(--c6) }
a:hover { color: var(--c7) }
.dm a { color: var(--c8) }
.dm a:visited { color: var(--c9) }
.dm a:hover { color: var(--c10) }
a.side { color: var(--c1) }
a.side:visited { color: var(--c1) }
a.side:hover { color: var(--c10) }
.external::after {
  font-family: "Font Awesome 6 Free";
  content: '\f35d';
  font-weight: 900;
}
header {
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;/*Safari用ベンダープレフィックス*/
  top: 0;
  color: var(--c1);
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.h240 { height: 240px }
.h60 { height: 60px }
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30px;
  background: linear-gradient(-10deg, #ff9700, 20%, #F3058C);
}
nav.home { height: var(--h1); }
.fade {
  width: 100%;
  height: 5px;
  background: linear-gradient(#777777, 20%, transparent);
}
.main-memo {
  width: 100%;
  padding: 6px;
  display: grid;
  justify-items: center;
  gap: 6px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
main {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
}
.navigation {
  order: 100;
}
.card {
  z-index: 0;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin: 1.5rem;
  content-visibility: auto;
  contain-intrinsic-size: 300px;
}
.c-top {
  height: 300px;
  position: relative;
  overflow: hidden;
  color: var(--c1);
}
div.thmb {
  border-style: solid;
  border-width: 0 4px;
  border-color: var(--c1);
  overflow: hidden;
  width: 80vw;
  max-width: 320px;
}
img.thmb {
  width: 320px;
  height: 180px;
}
div.thmb.ch {
  margin: 0 70px;
  max-width: 180px; }
img.thmb.ch { width: 180px }
.side.col{ height: 300px }
i.side, a.side {
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin: 0 5px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  border-top: 1px;
  border-bottom: 1px solid var(--c1);
}
a.side:last-child {
  border-bottom: 1px;
}
.button {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 60px;
}
.b-middle {
  top: 60px;
}
.b-bottom {
  top: 120px;
}
.info {
  z-index: 2;
  width: 80vw;
  max-width: 320px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 1rem;
  font-size: var(--f1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-x: auto;
}
.i-top, .i-middle, .i-bottom {
  top: 300px;
  transition: 0.5s;
}
.i-top:hover, .i-middle:hover, .i-bottom:hover {
  top: 0px;
  transition: 0.5s;
}
.b-top:hover ~ .i-top {
  top: 0px;
  transition: 0.5s;
}
.b-middle:hover ~ .i-middle {
  top: 0px;
  transition: 0.5s;
}
.b-bottom:hover ~ .i-bottom {
  top: 0px;
  transition: 0.5s;
}
.desc {
  overflow: auto;
}
.c-bottom {
  z-index: 1;
  height: 120px;
  width: 80vw;
  max-width: 320px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  background-color: var(--c1);
  border-style: solid;
  border-width: 0 4px;
  border-color: var(--c1);
}
.name, .trend {
  width: 100%;
  height: 60px;
  padding: 0 0.5rem;
}
.trend { align-items: center }
.name {
  order: 2;
  align-items: flex-start;
  justify-content: space-evenly;
}
.ranking, .ratio {
  width: 50%;
  height: 80%;
  line-height: 48px;
}
.ratio {
  box-sizing: border-box;
  border-left: 1px solid var(--c3);
  text-indent: 1rem;
}
.video, .channel {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  font-size: 1em;
}
h4.channel { font-weight: normal }
h3.video { order: 2 }