:root {
  --c1: #eee;
  --c2: #333;
  --c3: #aaa;
  --c4: #666;

  --w4: 400px;
  --w3: 300px;
  --h3: 320px;
  --h2: 225px;
  --h1: 100px;
  --h0: 95px;
  --b5: 50px;
  --f1: 14px;

  --p320: 320px;
  --p180: 180px;
  --p60: 60px;
}
.c1 {background: linear-gradient(-45deg, #2196f3, #3f51b5);}
.c2 {background: linear-gradient(-45deg, #d6c500, #bd900b);}
.c3 {background: linear-gradient(-45deg, #ea6161, #9c27b0);}
.c4 {background: linear-gradient(-45deg, #66d241, #008048);}
.c0 {background: linear-gradient(-45deg, #ffa500, #ff6347);}
.t1 {color: #3f51b5;}
.t2 {color: #bd900b;}
.t3 {color: #9c27b0;}
.t4 {color: #008048;}
.t0 {color: #ff6347;}
body {
  width: 100vw;
  background-color: var(--c1);
  margin: 0;
  color: var(--c2);
  font-size: var(--f1);
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
span {
  height: 100%;
  display: inline-flex;
  align-items: center;
  border-style: solid;
  border-color: var(--c3);
  border-width: 0 0 1px;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;/*Safari用ベンダープレフィックス*/
  top: 0;
  z-index: 10;
}
.col {
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30px;
  background: linear-gradient(-10deg, #ff9700, 20%, #F3058C);
}
nav.home { height: var(--h1); }
.fade {
  width: 100%;
  height: 5px;
  background: linear-gradient(#777777, 20%, transparent);
}
.main-memo {
  width: 100%;
  padding: 6px;
  display: grid;
  justify-items: center;
  gap: 6px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
main {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
}
.card {
  z-index: 0;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin: 1rem;
}
.c-top {
  height: 180px;
  position: relative;
  overflow: hidden;
  color: var(--c1);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
div.thmb {
  border-style: solid;
  border-width: 0 4px;
  border-color: var(--c1);
  overflow: hidden;
  width: 80vw;
  max-width: 320px;
}
img.thmb {
  width: 320px;
  height: 180px;
}
.side {
  vertical-align: middle;
  height: 60px;
  line-height: 60px;
  margin: 0 5px;
  text-align: center;
}
.button {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 60px;
}
.b-middle {
  top: 60px;
}
.b-bottom {
  top: 120px;
}
.info {
  z-index: 2;
  width: 80vw;
  max-width: 320px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 1rem;
  font-size: var(--f1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.i-top, .i-middle, .i-bottom {
  top: 180px;
  transition: 0.5s;
}
.i-top:hover, .i-middle:hover, .i-bottom:hover {
  top: 0px;
  transition: 0.5s;
}
.b-top:hover ~ .i-top {
  top: 0px;
  transition: 0.5s;
}
.b-middle:hover ~ .i-middle {
  top: 0px;
  transition: 0.5s;
}
.b-bottom:hover ~ .i-bottom {
  top: 0px;
  transition: 0.5s;
}
.desc {
  height: 67%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}
.c-bottom {
  z-index: 1;
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-areas: "E F A B J" "G H C D K" "I I I I I";
  grid-template-columns: 2rem 2rem 2rem auto 1rem;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: var(--c1);
}
.sym { text-indent: 1rem }
.channel.sym { grid-area: A }
.channel.txt {
  grid-area: B;
  overflow-x: auto;
}
.video.sym { grid-area: C }
.video.txt {
  grid-area: D;
  overflow-x: auto;
}
.rank.sym { grid-area: E }
.rank.txt { grid-area: F }
.ratio.sym { grid-area: G }
.ratio.txt { grid-area: H }
.c-link {
  grid-area: I;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.blank.top { grid-area: J }
.blank.middle { grid-area: K }